<br /><br /><br /><br />Welcome Aman!
<a href="http://google.com">Google</a>
<%= link_to "Google1", "http://google.com" %>
<% @employees.each do |employee| %>
  #<%= employee.fname %>Department: <%= employee.department %>br />
  <%= employee.fname %><br />
<% end %>