<div class="red">
    <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this User from being saved:</h2>
    <ul>
    <% @employee.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
</div>
