<br /><%= link_to("<< Back to List",subjects_path, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Update Subject</h2>
  
  <%= form_for(@subject) do |f| %>
     
    <%= render(:partial => 'form', :locals => {:f => f}) %>
    
  <div class="form-buttons">
    <input type="checkbox" id=form_checkbox><p>"Are you sure with the changes?"</p>
    <%= f.submit("Update Subject") %>
  </div>
<% end %>

</div>
