<!DOCTYPE html>
  <html>
    <head><style></style></head>
        <body>
        <br />
            <h>Welcome <h><%= current_user.name %></h><br />
            <div class="navigate_links">
                <%= link_to "Logout", "/user/logout", method:'post' %>
            </div>
        </body>
</html>