<br /><%= link_to("<< Back to List",'/post/index', :class => 'back-link') %>

<div class="post_show">
  
  <h class="title_of_blog"><%= @post.title %><h>
  <p class="body_of_blog"><%= @post.body %></p>
  </table>
</div>
