// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navigate_links{
    text-align: right;
}
.button{
    background-color: #4c6baf;
    border: none;
	color: white;
	padding: 16px 50px;
    padding-left: 30px;
	margin: 10px 100px;
	cursor: pointer;
}
.blogs_index{
    
    margin: 10px 150px;
}
.listing,.table_heading,.table_data{
    margin: 50px 350px;
}
.listing {
    width: 50%;
  }
  
.table_heading {
    height: 100px;
    width: 10;
  }

// start of blog view css 
