<br /><%= link_to("<< Back to List",'home/show', :class => 'back-link') %>

<div class="Blogs delete">
  <h2>Delete Blog</h2>
  
  <%= form_for(@blog, :method => 'delete') do |f| %>
 
  
    <p>Are you sure you want to permanently delete this Blog Post?</p>
    <p><%= @blogpost.title %></p>

  <div class="form-buttons">
    <%= f.submit("Delete BlogPost") %>
  </div>
<% end %>

</div>
