<br /><%= link_to("<< Back to List",'index', :class => 'back-link') %>

<div class="subjects show">
  <h2>Create Blog</h2>
  
  <%= form_for(Blogpost.new, :url => 'create', :method => 'post') do |f| %>
 
    <table summary="Blog form field">
    <tr>
      <th>Title :</th>
      <td><%= f.text_field(:title) %></td>
    </tr>
    <tr>
      <th>Body:</th>
      <td><textarea name="paragraph_text"  f.text_field(:body) cols="50" rows="10"></textarea></td>
    </tr>
    </table>
  <div class="form-buttons">
    <%= f.submit("Save Blog") %>
  </div>
<% end %>

</div>
