<br /><br />
<%= link_to("Home",{:action =>'index'}) %> <br />
<h>Login page Links</h>

<div class="home show">
  <h2>Create User Login</h2>
  
  <table summary="Subject form field">
  <tr>
    <th>User Name :</th>
    <th><input type="text"  name="name"></th>
    <th>Password :</th>
    <th><input type="text"  password="password"></th>
    
  </tr>
  </table>

  <div class="form-buttons">
    <button>Login</button>
  </div>

</div>