<br /><br />

<h>Login</h>
<%= form_tag '/user/login_create' do %>
    <div class="mb-3">
      <label>Email</label>
      <%= text_field_tag "user[email]", "", class: "form-control", placeholder: "Email"  %>
    </div>
    <div class="mb-3">
      <label>password</label>
        <%= password_field_tag "user[password]", "", class: "form-control" ,placeholder: "password" %>
      </div>
    <div class="mb-3">
        <%= submit_tag "Log In"  %>
    </div>
<% end %>