<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<div style="text-align: center;">
  <h>Home</h>
  <br />
  <a href="login.html.erb">Login</a>
  <br />
  <a href="signup.html.erb">Signup</a>
</div>
<body>

</body>
</html>
