<!DOCTYPE html>
<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <h>Welcome User</h>
        <div style="text-align: right;">
            <a href="new.html.erb">Craete Blog</a>
            <a href="login.html.erb">Logout</a>
            <br />
        </div>
        <p>List Of all Blogs</p>
        <table style="width:30%">
            <tr>
              <td>Title 1</td> 
              <td>View</td>
              <td>Edit</td>
              <td>Delete</td> 
            </tr>
            <tr>
              <td>Title 2</td>
              <td>View</td>
              <td>Edit</td>
              <td>Delete</td> 
            </tr>
          </table>
    </body>
</html>