<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div style="text-align: center;">
            <h>Home</h>
            <br />
            <%= link_to("Login ",'/user/login') %>
            <br />
            <%= link_to("Signup ",'/user/new') %>
        </div>
    </body>
</html>
